// Typography
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@400;600;700&display=swap');

// CSS-Variable
$primary: #db4c3f;
$grey-light: #eaeaea;
$grey-dark: #808080;
$white: #fff;
$header-height: 60px;
$sidebar-width: 300px;



// GLOBAL RESET
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /*equal font-size : 10px*/
}

body {
    box-sizing: border-box;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .todo {
//   display: grid;
//   grid-template-rows: $header-height calc(100vh - $header-height);
//   grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);
  
//       &__header {
//           grid-column: 1/3;
//           grid-row: 1/2;
//       }
  
//       &__sidebar {
//           grid-row: 2/3;
//           grid-column: 1/2;
//           // position: sticky;
//       }
  
//       &__content {
//           grid-row: 2/3;
//           grid-column: 2/3;
  
//           // other css
//           overflow-y: scroll;
//           padding: 20px 30px;
//           padding-top: 0;
//       }
//     }